language: c
fast_finish: true

matrix:
  include:
    - os: osx
      sudo: required
    - os: linux
      dist: trusty

addons:
  apt:
    packages:
      - gdal-bin
      - libgdal-dev
      - libgeotiff-dev
      - libgeographiclib-dev
      - libmpfr-dev
      - libboost1.55-dev
      - libboost1.55-tools-dev
      - libboost-system1.55-dev
      - libboost-thread1.55-dev
      - freeglut3-dev


install:
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ] ; then
      brew update
      brew install geographiclib
      brew install freeglut
      brew upgrade libgeotiff
      brew upgrade cgal
      brew unlink gdal
      U=http://www.kyngchaos.com/files/software/frameworks/GDAL_Complete-2.1.dmg
      wget $U
      Y=`hdiutil mount GDAL_Complete-2.1.dmg|tail -1|awk '{$1=$2="";print $0}'`
      X=`echo $Y | xargs -0 echo`
      sudo installer -pkg "${X}/"GDAL\ Complete.pkg -target /
      export PATH="/Library/Frameworks/GDAL.framework/Programs:$PATH"
      export CPATH="/System/Library/Frameworks/OpenGL.framework/Versions/Current/Headers/"
      export LIBRARY_PATH="/System/Library/Frameworks/OpenGL.framework/Versions/Current/Libraries/"
    fi
    if [ "$TRAVIS_OS_NAME" == "linux" ] ; then
      U='https://github.com/CGAL/cgal/releases/download/releases%2FCGAL-4.12/CGAL-4.12.tar.xz'
      wget $U
      tar xf CGAL-4.12.tar.xz
      cd CGAL-4.12
      cmake .
      make
      export CPATH=`pwd`/include
      export LIBRARY_PATH=`pwd`/lib
      export LD_LIBRARY_PATH=$LIBRARY_PATH
      cd ..
      export CC="gcc -std=gnu99"
    fi

script:
  - make
  - make test
